@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  --yellow: #ffb55e;
  --grey-medium: #383838;
  --grey-dark: #161616;
  --white: #ffffff;

  font-size: 62.5%;
}

.container {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 7.1rem;
}

.logo {
  font: bold 1rem 'Poppins';
  line-height: 1.5rem;
  text-align: center;
  color: var(--yellow);
}

.bg-image {
  background: url('../img/bg-hero.svg') no-repeat;
  background-size: cover;

  height: 100vh;
}

/* Hero */

.hero {
  display: flex;
  justify-content: center;

  height: 100%;
}

.hero .box {
  text-align: center;
}

.hero .box h1 {
  font: bold 2.4rem 'Open Sans';
  line-height: 3.3rem;
  margin-top: 100%;

  width: 20.3rem;

  color: var(--white);
}

.hero .box button {
  background-color: var(--yellow);
  color: var(--grey-dark);

  font: bold 1.2rem 'Poppins';

  border-radius: 4px;

  padding: 1.3rem 2.4rem;
  margin-top: 2.4rem;
}

/* Main */

main {
  background-color: var(--white);
  text-align: center;
}

.tittle-product {
  font: bold 3.2rem 'Poppins';
  color: var(--yellow);
  text-decoration: underline;

  margin-top: 6rem;
}

.product {
  margin-top: 2.4rem;
}

.product img {
  border: 2px solid var(--grey-medium);
  border-radius: 2px;

  width: 100%;
}

.product p {
  font: normal 1.8rem 'Open Sans';

  margin-top: 1.6rem;
  margin-bottom: 6rem;
}

.line {
  background-color: var(--yellow);

  width: 100%;
  height: 1px;
}

/* Footer */
footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 35.3rem;

  background-color: var(--grey-medium);

  text-align: end;
}

.footer-tittle {
  font: bold 1.6rem 'Poppins';
  color: var(--yellow);

  margin-bottom: 0.8rem;
}

footer p {
  font: normal 1.6rem 'Open Sans';
  color: var(--white);

  margin-bottom: 0.4rem;
}

.business-hours {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.social div {
  display: flex;
  align-items: center;
  justify-content: end;
}

.social i {
  margin-right: 0.8rem;
}

#line-footer {
  margin-right: 7.8rem;
  margin-left: 3rem;
  height: 28.9rem;
}
